@{
    ViewData["Title"] = "Movie Input";
}

@model Mission6.Models.TaskResponse

<h1>Fill out a Task Here</h1>

<div>
    <form method="post">

        <label asp-for="Task">Task:</label>
        <input asp-for="Task" /><br />

        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />

        <label asp-for="Quadrant">Quadrant:</label>
        <input asp-for="Quadrant" /><br />

        <label asp-for="CategoryID">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
            <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select>

        <label asp-for="Completed">Completed:</label>
        <select asp-for="Completed">
            <option value="true">True</option>
            <option value="false">False</option>
        </select><br />

        <button type="submit">Submit Task</button>
    </form>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn">Back to Quadrant</a>
    </div>
</div>