@{
    ViewData["Title"] = "Quadrants Page";
}

<div style="min-height:500px">
    <div class="text-center">
        <div class="container text-center boxy">
            <div class="row">
                <div class="col-12"><h3>Stephen Covey's Time Management Matrix</h3></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <h4>Urgent</h4>
                </div>
                <div class="col-5">
                    <h4>Not Urgent</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-1" style="transform: rotate(-90deg);"><h4>Important</h4></div>
                <div class="col-5">
                    <h6>Quadrant 1</h6>
                </div>
                <div class="col-5">
                    <h6>Quadrant 2</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-1" style="transform: rotate(-90deg);"><h4>Not Important</h4></div>
                <div class="col-5">
                    <h6>Quadrant 3</h6>
                </div>
                <div class="col-5">
                    <h6>Quadrant 4</h6>
                </div>
            </div>
        </div>
    </div>
</div>